/* 상단 고정 */
.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  color: black;
  z-index: 999;
}

.nav-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 60px;
  display: block;
}

/* 메뉴 */
.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 500;
  color : black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li {
  flex-shrink: 0;      
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-btn {
  display: flex;
  align-items: center; 
  gap: 8px; 
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
}

/* 햄버거 버튼 */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* -------------------- 반응형 -------------------- */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background: #0c2340;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
