html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  display: block !important;
}